# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

# Misc
*.txt
.vscode/
.VSCodeCounter/2022-09-11_22-04-51/details.md
.VSCodeCounter/2022-09-11_22-04-51/diff-details.md
.VSCodeCounter/2022-09-11_22-04-51/diff.csv
.VSCodeCounter/2022-09-11_22-04-51/diff.md
.VSCodeCounter/2022-09-11_22-04-51/results.csv
.VSCodeCounter/2022-09-11_22-04-51/results.json
.VSCodeCounter/2022-09-11_22-04-51/results.md
